<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=380" />
  <title>sample</title>
  <%= stylesheet_link_tag 'iphone' %>
  <script type="text/javascript">
	function clickclear(thisfield, defaulttext) {
		if (thisfield.value == defaulttext) {
			thisfield.value = "";
		}
	}
	function clickrecall(thisfield, defaulttext) {
		if (thisfield.value == "") {
			thisfield.value = defaulttext;
		}
	}
  </script>
  <script type="text/javascript" charset="utf-8">
		window.onload = function() {
		  setTimeout(function(){window.scrollTo(0, 1);}, 100);
		}
  </script>
	
</head>
<body>

<div id="header">
	<%= @content_for_header %>
</div>

<% for name in [:notice, :warning, :message] %>
   <% if flash[name] %>
     <%= "<h1>#{flash[name]}</h1>" %>
   <% end %>
<% end %>

<%= yield  %>

</body>
</html>